@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-poppeins: var(--font-poppeins);
  
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00020D ;
  height: fit-content;
  color: white;
   font-family: "Poppins", sans-serif;
  
}

.bg-hero-gradiant{
  background: url();  background-image: url("https://res.cloudinary.com/dkg6jv4l0/image/upload/v1741463740/oyc7wnuosrnwjwhrark3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.bg-hero-gradiant::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.70);
  z-index: 1;
}

